/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* iPhone 14 Pro Max: 430px largura */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #1f1c2c, #928dab);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.login-form label {
    font-size: 0.9rem;
}

.login-form input {
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

.login-form input:focus {
    outline: 2px solid #928dab;
}

.login-form button {
    padding: 0.75rem;
    background-color: #928dab;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background-color: #6e6687;
}